Package: com.yourepo.abo1bs.igameguardianbetaforios84
Name: iGameGuardian Beta (For iOS8.4)
Version: 7.0.1-4
Architecture: iphoneos-arm
Description: iGameGuardian iOS 8.3/8.4 hack game
Author: Nkod
Section: Mod
